
.Counter{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(197, 195, 194);
    margin: 1rem 0rem;
    padding: 2rem 0rem;
}
.Value{
    margin:5px;
    padding: 1rem;
    font-weight: 600;
    font-size: 2rem;    
}
.Button{
    padding: 0.5rem 1rem;
    margin:3px;
    outline:0;
    border:none;
    color:white;
    border-radius: 5px;
}
.Button:hover{
    cursor: pointer;
    font-weight: 600;
}
.ButtonAdd{
    background-color:rgb(62, 148, 62);
}
.ButtonSubtract{
    background-color:rgba(221, 36, 30, 0.993);
}
.ButtonDelete{
    background-color: rgb(37, 29, 29);
}