a{
    color:black;
}
a:hover{
    color:rgb(9, 96, 102);
    font-weight: 400;
    text-decoration: underline;
}
.MatchSummary{
    max-width: 100px;
}
.MatchSpec{
    display:flex;
    justify-content: space-between;
}